<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>LuminousMpartnerIB : Dashboard</title>

    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/Editor/ckeditor.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/LuminousMpartnerIB" data-aos="zoom-in">
                    <img src="/images/luminousLogo.jpg" alt="LuminousMpartnerIB" title="LuminousMpartnerIB">
                </a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>

                    @{
                        List<SelectListItem> languageList = new List<SelectListItem>();
                        foreach (var i in LuminousMpartnerIB.Models.LanguageManage.AvailableLanguages)
                        {
                            languageList.Add(new SelectListItem
                            {
                                Text = i.LanguageFullName,
                                Value = i.LanguageCultureName
                            });
                        }
                    }

                    @Html.DropDownList("Language", languageList, @LuminousMpartnerIB.Resource.Select, new { @class = "form-control", @onchange = "ChangeLanguage(this)" })
                    <script type="text/javascript">
                        function ChangeLanguage(e) {
                            debugger;
                            var temp = $(e).val();
                            var option = e.options[e.selectedIndex].innerHTML;
                            $.post("@Url.Content("~/CustomerModule/ChangeLanguage")", { lang: temp }, function () {
                                //alert('Language Change');
                                location.reload(true);
                            });
                        }
                    </script>


                    @*@foreach (var i in LuminousMpartnerIB.Models.LanguageManage.AvailableLanguages)
        {
            @Html.ActionLink(i.LanguageFullName, "ChangeLanguage", "CustomerModule", new { lang = i.LanguageCultureName }, null)
            <text> </text>
        }*@
                </li>
                <li class="dropdown">
                    <span><img src="/images/profileImg.png" alt="" title=""> Welcome</span>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        @*Admin
                        <i class="fa fa-caret-down"></i>*@
                        @if ((string)Session["userid"].ToString() != "")
                        {
                            <span>@Session["userid"].ToString()</span> <i class="fa fa-caret-down"></i>
                        }

                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        @*<li>
                            <a href="#">User Profile</a>
                        </li>
                        <li>
                            <a href="#">Settings</a>
                        </li>*@
                        <li>
                            <a href="/Logout/Logout/">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Left side menu section start here -->
            <div class="navbar-default sidebar">
                <div class="sidebar-nav navbar-collapse" aria-expanded="false" style="height: 1px;">
                    <ul class="nav in" id="side-menu">

                        @Html.Partial("_SideBarMenu");
                    </ul>
                </div>
            </div>
            <!-- End -->
        </nav>

        <!-- jQuery Start Here -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <script src="/js/jquery.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/metisMenu.min.js"></script>

        <script src="/js/custom.js"></script>
        <script type="text/javascript">
            AOS.init();

            //$(".dropdown-toggle").click(function () {
                    //    $(".dropdown-user").toggle();
                    //});
        </script>
       
        @RenderBody()
    </div>
</body>
</html>
