
@{
    //var servicesMenu = Session["sidebarmenu"] as IEnumerable<LuminousMpartnerIB.EF.AllPage>;
    var servicesMenu = Session["sidebarmenu"] as IEnumerable<LuminousMpartnerIB.Models.AllPageModel>;
}

@if (servicesMenu != null)
{
    foreach (var item in servicesMenu.Where(t => (t.RootNode == 0 && t.IsTopMenu == true)))
    {

        var MenuLevel1 = servicesMenu.Where(t => t.RootNode == item.Id);

        if (MenuLevel1.Count() > 0)
        {
            <li class="subctegory">
                <a class="menuactive" href="#"><img src=@item.ModuleImage title="">@LuminousMpartnerIB.Resource.ResourceManager.GetString(@item.PageName)</a>
                <ul class="nav nav-second-level">
                    @foreach (var itemlevel1 in MenuLevel1)
                    {
                        <li class="linkeffect"><a href=@itemlevel1.ModuleName> @LuminousMpartnerIB.Resource.ResourceManager.GetString(@itemlevel1.PageName)</a></li>
                    }
                </ul>
            </li>
        }
        else
        {
            <li c3ass="linkeffect"><a href=@item.ModuleName><img src=@item.ModuleImage title="">@LuminousMpartnerIB.Resource.ResourceManager.GetString(@item.PageName)</a></li>
        }
    }
}