@model LuminousMpartnerIB.EF.ProductLevelOne
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/assets/css/Formstyle.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/assets/js/jquery-1.10.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/js/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
<style type="text/css">
    .required {
        color: Red;
    }

    table {
        border: 0;
        border-spacing: 0;
        font-size: 0.857em;
        margin: 10px 0;
        width: 100%;
    }

        table table {
            font-size: 1em;
        }

    #footer-wrapper table {
        font-size: 1em;
    }

    table tr th {
        background: #757575;
        background: rgba(0, 0, 0, 0.51);
        border-bottom-style: none;
    }

        table tr th, table tr th a, table tr th a:hover {
            color: #FFF;
            font-weight: bold;
        }

    table tbody tr th {
        vertical-align: top;
    }

    tr td, tr th {
        padding: 4px 9px;
        border: 1px solid #fff;
        text-align: left; /* LTR */
    }

    #footer-wrapper tr td, #footer-wrapper tr th {
        border-color: #555;
        border-color: rgba(255, 255, 255, 0.18);
    }

    tr.odd {
        background: #e4e4e4;
        background: rgba(0, 0, 0, 0.105);
    }

    tr, tr.even {
        background: #efefef;
        background: rgba(0, 0, 0, 0.063);
    }

    table ul.links {
        margin: 0;
        padding: 0;
        font-size: 1em;
    }

        table ul.links li {
            padding: 0 1em 0 0;
        }
</style>
<script type="text/javascript">
    //Grid Swapping//
    $(document).ready(function () {
        var coords = new Array();
        $('#Grid tbody').addClass("DragMe");

        $('.DragMe').sortable({
            disabled: false,
            axis: 'y',
            //items: "> tr:not(:first)",
            forceHelperSize: true,
            update: function (event, ui) {
                var Newpos = ui.item.index();
                var RefID = $('tr').find('td:first').html();
                //var RefID=   $(this).closest('tr').attr('id');

                //alert("Position " + Newpos + "..... RefID: " + RefID);
                $("#Grid tr:has(td)").each(function () {

                    var RefID = $(this).find("td:eq(0)").html();
                    var NewPosition = $(".ui-sortable-handle").index(this) + 1;
                   // alert(RefID + " " + NewPosition);
                    coords.push({ x: RefID, y: NewPosition });
                });

                for (var i = 0; i < coords.length; i++) {
                    var xcoord = coords[i].x + "," + coords[i].y;

                    var arr = { ids: xcoord };
                    $.ajax({
                        url: '@Url.Action("UpdateSequence", "ProductLevelOneSequence")',
                        type: 'POST',
                        data: JSON.stringify(arr),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (msg) {
                            alert(msg);
                        }
                    });
                }

                coords.length = 0;


            }
        }).disableSelection();
    });
    //Grid Swapping End//

    $(function () {
        $.post("@Url.Content("~/ProductCategory/GetParentCategory")", null, function (data) { SetParentCategory(data); }, "Json");
        @*$.post("@Url.Content("~/ProductLevelOne/GetProductCategory")", null, function (data) { SetProdcutCategory(data); }, "Json");*@
        @*$.post("@Url.Content("~/ProductLevelOne/GetContactDetail")", null, function (data) { SetGrid(data); }, "Json");*@
    });

    function SetGrid(data) {
        if (data == "Login") {
            location.href = "@Url.Content("~/Logout/Logout")";
        }
        else if (data == "snotallowed") {
            location.href = "@Url.Content("~/snotallowed/snotallowed")";
        }
        else {
            var body = "";
            $("#Grid tbody").empty();
            $.each(data.result, function (key, value) {
                body += "<tr class=ui-sortable-handle><td>" + value.id + "</td>" +
                     "<td>" + value.prntcat + "</td>" +
                "<td>" + value.PCat + "</td>" +
            "<td>" + value.Name + "</td>" +
             "<td>" + value.status + "</td></tr>";
                debugger;
            });
            $("#Grid tbody").append(body);
            SetPages(data.TotalRecord);
        }

    }
    function SetProdcutCategory(data) {
        if (data == "Login") {
            location.href = "@Url.Content("~/Logout/Logout")";
        }
        else if (data == "snotallowed") {
            location.href = "@Url.Content("~/snotallowed/snotallowed")";
        }
        else {
            option = "";
            var procat = $("#ProductCategory");
            procat.empty();
            procat.append("<option value=0>Select</option>");
            $.each(data, function (key, value) {
                option += "<option value=" + value.id + ">" + value.Name + "</option>";

            });
            procat.append(option);
        }
    }
    function SetParentCategory(data) {
        if (data == "Login") {
            location.href = "@Url.Content("~/Logout/Logout")";
        }
        else if (data == "snotallowed") {
            location.href = "@Url.Content("~/snotallowed/snotallowed")";
        }
        else {
            option = "";
            var procat = $("#ParentCategory");
            procat.empty();
            procat.append("<option value=0>Select</option>");
            $.each(data, function (key, value) {
                option += "<option value=" + value.id + ">" + value.Name + "</option>";

            });
            procat.append(option);
        }
    }

    function SetProdcutCat() {
        var procat = $("#ParentCategory :selected").val();
        var procatLvlOne = $("#pclvlOne");
        $.post("@Url.Content("~/ProductLevelOneSequence/GetProductCategory")", { procatid: procat }, function (data) { SetProdcutCategory(data); }, "Json");

        
    }
    function SetProdcutlevelOne() {
        var procat = $("#ProductCategory :selected").val();
        var procatLvlOne = $("#pclvlOne");
        $.post("@Url.Content("~/ProductLevelOneSequence/GetContactDetail")", { procatid: procat }, function (data) { SetGrid(data); }, "Json");
        @*$.post("@Url.Content("~/ProductLevelTwo/GetProductLevelOneCategory")", {procatid:procat}, function (data) { SetProdcutCategory(data, 'pclvlOne'); }, "Json");*@
        }
    function SetPages(paging) {
        var pages = "";
        $("#Paging").empty();
        $("#Paging").empty();

        for (var i = 1; i <= parseInt(paging) ; i++) {

            pages += "<a style='cursor:pointer' onclick=GetPagesValues(" + i + ");> " + i + "  </a>";


        }
        $("#Paging").append("<u>Pages:-</u>" + pages);
    }

    function GetPagesValues(id) {
        $.post("@Url.Content("~/ProductLevelOne/GetContactDetail")", { page: id }, function (data) { SetGrid(data); }, "Json");
    }
    


   
</script>
<div id="form" style="margin-bottom: 11px">
    @using (Ajax.BeginForm("SaveContact", new AjaxOptions { HttpMethod = "get", UpdateTargetId = "d", InsertionMode = InsertionMode.Replace }))
    {
        <div id="content_wrap">
            <div class="msgbar msg_Info heading">
                Product Level One
            </div>
            <div class="content_main">
                <div class="boxes1">
                    <table id="GridView">
                        <tr>

                            <td style="width: 137px;">
                                Parent Category <span class="required">*</span>
                            </td>
                            <td style="width: 221px">
                                <select name="ParentCatid" onchange="SetProdcutCat();" style="color: black" id="ParentCategory">
                                    <option>Select</option>
                                </select>
                                <br />
                                @Html.ValidationMessageFor(model => model.ParentCatid, "", new { @class = "required" })
                            </td>
                            <td style="width: 137px;">
                                Product Category <span class="required">*</span>
                            </td>
                            <td style="width: 221px">
                                <select name="pcId" onchange="SetProdcutlevelOne();" style="color: black" id="ProductCategory">
                                    <option>Select</option>
                                </select>
                                <br />
                                @Html.ValidationMessageFor(model => model.pcId, "", new { @class = "required" })
                            </td>

                        </tr>
                      
                    </table>
                 




                </div>
            </div>
        </div>
    }
       
    
</div>
<div id="list" style="width: 997px; float: right; margin-right: 15px;">
    <table id="Grid" width="100%">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Parent Category
                </th>
                <th>
                    Product Category
                </th>
                <th>
                    Prodcut Level One
                </th>
                <th>
                    Status
                </th>
                @*<th>
                    Action
                </th>*@
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div id="Paging">
    </div>
    <div style="float:right">
        @if (Session["Search"] != null)
        {
            @Html.ActionLink("Back", "Index")
        }
    </div>
</div>