@model Luminous.EF.EscalationMatrix

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="@Url.Content("~/assets/css/Formstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/assets/js/jquery-1.10.2.js")" type="text/javascript"></script>*@
<script type="text/javascript">
    $(function () {
        $.post("@Url.Content("~/EscalationMatrix/GetState")", null, function (data) { SetProdcutCategory(data); }, "Json");

        if ('@ViewBag.status' == 1) {
            $("#statusC").prop("checked", "checked");
        }
        if ('@ViewBag.level' == 'Level 1') {
            $("#servicecenter").val('@ViewBag.level');
        }
        if ('@ViewBag.level' == 'Level 2') {
            $("#servicecenter").val('@ViewBag.level');
        }
        if ('@ViewBag.Result' != "") {
            debugger;
            alert('@ViewBag.Result');
            location.href = "@Url.Content("~/EscalationMatrix/index")";
        }
    });
    function Cancel() {
        location.href = "@Url.Content("~/EscalationMatrix/index")";
    }
    function SetProdcutCategory(data) {
        option = "";
        var procat = $("#ParentCategory");
        procat.empty();
        procat.append("<option value=0>Select</option>");
        $.each(data, function (key, value) {

            option += "<option value=" + value.id + ">" + value.Name + "</option>";


        });
        procat.append(option);
        procat.val('@ViewBag.stateid');


    }
</script>
<div id="page-wrapper" style="background: #f2f4f8;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="pageHeading"><span>Escalation Matrix - </span> Edit View</h1>
        </div>
    </div>
    <div id="form">
        @using (Html.BeginForm("Update", "EscalationMatrix", FormMethod.Post, new { @id = "forms", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="2500">
                    <div class="addgift" style="padding-bottom: 10px;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State <span class="required">*</span></label>
                                    @Html.HiddenFor(model => model.Id)
                                    <select name="pcId" class="form-control" id="ParentCategory">
                                        <option>Select</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "required" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Service Center <span class="required">*</span></label>
                                    <select name="servicecenter" class="form-control" id="servicecenter">
                                        <option value="0">Select</option>
                                        <option value="Level 1">Level 1</option>
                                        <option value="Level 2">Level 2</option>
                                    </select>
                                    @Html.ValidationMessageFor(a => a.ServiceCenterName, "", new { @class = "required" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Address<span class="required">*</span></label>
                                    @Html.TextAreaFor(a => a.Address, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(a => a.Address, "", new { @class = "required" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Status</label>
                                    <input type="checkbox" checked="checked" name="statusC" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" value="Submit" class="submitBtn" />
                                    <input type="button" value="Cancel" class="cancelBtn" onclick="Cancel();" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="space30"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="footerRow">
                © Copyright 2019 Luminous | All Rights Reserved
            </div>
        </div>
    </div>
</div>
