@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/assets/css/Formstyle.css")" rel="stylesheet" type="text/css" />
@*<script src="@Url.Content("~/assets/js/jquery-1.10.2.js")" type="text/javascript"></script>*@
@*<script src="@Url.Content("~/assets/js/jquery-ui.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/assets/css/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/assets/css/chosen.css")" rel="stylesheet" type="text/css" />*@
@*<script src="@Url.Content("~/assets/js/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/jquery-ui.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/assets/css/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/assets/css/chosen.css")" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>*@

<link href="~/assets/css/styleLoader.css" rel="stylesheet" />
<style type="text/css">
    /*.select2-results__option[aria-selected=true] {
        display: none;
    }*/
    .input-disabled {
        background-color: #EBEBE4;
        border: 1px solid #ABADB3;
        padding: 2px 1px;
    }

    .required {
        color: Red;
    }

    table {
        border: 0;
        border-spacing: 0;
        font-size: 0.857em;
        margin: 10px 0;
        width: 100%;
    }

        table table {
            font-size: 1em;
        }

    #footer-wrapper table {
        font-size: 1em;
    }

    table tr th {
        background: #757575;
        background: rgba(0, 0, 0, 0.51);
        border-bottom-style: none;
    }

        table tr th, table tr th a, table tr th a:hover {
            color: #FFF;
            font-weight: bold;
        }

    table tbody tr th {
        vertical-align: top;
    }

    tr td, tr th {
        padding: 4px 9px;
        border: 1px solid #fff;
        text-align: left; /* LTR */
    }

    #footer-wrapper tr td, #footer-wrapper tr th {
        border-color: #555;
        border-color: rgba(255, 255, 255, 0.18);
    }

    tr.odd {
        background: #e4e4e4;
        background: rgba(0, 0, 0, 0.105);
    }

    tr, tr.even {
        background: #efefef;
        background: rgba(0, 0, 0, 0.063);
    }

    table ul.links {
        margin: 0;
        padding: 0;
        font-size: 1em;
    }

        table ul.links li {
            padding: 0 1em 0 0;
        }
</style>
<style>
    .FullDes {
        position: relative;
        background-color: #1D1D1D;
        width: 245px;
        color: white;
        border: 1px solid black;
        display: none;
    }

    button#addRowScroll {
        margin-top: 15px;
        border: none;
        background: #595959;
        color: #fff;
        border-radius: 3px;
        padding: 5px 10px;
    }

    .submitBtn {
        outline: none;
        background: #ffaf38 !important;
        width: 130px;
        font-size: 13px;
        text-transform: uppercase;
        color: #fff;
        border-radius: 5px;
        border: none !important;
        height: 40px !important;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<link href="~/js/select222.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<div id="page-wrapper" style="background: #f2f4f8;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="pageHeading"><span></span>Multiplier</h1>
        </div>
    </div>
    @using (Html.BeginForm("Index", "ConnectPlusMultiple", FormMethod.Post, new { enctype = "multipart/form-data", id = "MultiPlierform", name = "MultiPlierform" }))
    {
        <div class="row">
            <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="2500">
                <div class="addgift" style="padding-bottom: 10px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Items<span class="required">*</span></label>
                                    @Html.DropDownList("ddlitem", (IEnumerable<SelectListItem>)ViewBag.itemslst, new { @multiple = "multiple", @id = "ddlitem", @class = "js-select2" })
                                    <input type="hidden" id="hfitemId" name="itemId" />
                                    <input type="hidden" id="hfitemName" name="itemName" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" style="margin-top:27px">
                                    <label><span class="required"></span></label>
                                    <input type="checkbox" id="checkboxItem">Select All
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State<span class="required">*</span></label>
                                    @Html.DropDownList("ddlstate", (IEnumerable<SelectListItem>)ViewBag.statelst, new { @multiple = "multiple", @id = "ddlstate", @class = "js-select2" })
                                    <input type="hidden" id="hfstateId" name="stateId" />
                                    <input type="hidden" id="hfstateName" name="stateName" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" style="margin-top:27px">
                                    <label><span class="required"></span></label>
                                    <input type="checkbox" id="checkboxState">Select All
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group" style="margin-left:10px">
                                <input type="submit" id="btnsubmit" value="Download" class="submit submitBtn" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="error_message" class="ajax_response" style="float: initial; color: black; margin-top: 10px">
                                <span class="label"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea id="txtMaterialcode" rows="2" cols="54" placeholder="Material Code" class="form-control"></textarea>
                                    <input type="hidden" id="hdnMaterialcode" name="hdnMaterialcode" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input id="sdate" type="text" autocomplete="off" placeholder="Start Date" class="date form-control" name="sdate" />
                                    <input type="hidden" id="hdnsdate" name="hdnsdate" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input id="edate" type="text" autocomplete="off" class="date form-control" placeholder="End Date" name="edate" />
                                    <input type="hidden" id="hdnedate" name="hdnedate" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group" style="margin-left:10px">
                                <input type="submit" id="btnsubmitLog" value="Show Log" class="submit submitBtn" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            @if (TempData["NoData"] != null)
                            {
                                <div id="error_message2" class="ajax_response" style="float: initial; color: green">
                                    @TempData["NoData"]
                                </div>
                            }
                            <div id="error_message_log" class="ajax_response" style="float: initial; color: black; margin-top: 10px; ">
                                <span class="label"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="2500">
                <div class="addgift" style="padding-bottom: 10px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="file" id="FileUpload1" name="FileUpload1" multiple />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="submit" id="btnUploadsubmit" value="Upload" class="submit submitBtn" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                @if (TempData["Message"] != null)
                                {
                                    <div id="error_message2" class="ajax_response" style="float: initial; color: green">
                                        @TempData["Message"]
                                    </div>
                                }
                                @if (ViewBag.Exception != null)
                                {
                                    <div id="error_message2" class="ajax_response" style="float: initial; color: red">
                                        @ViewBag.Exception
                                    </div>
                                }
                                <div id="error_message_upload" class="ajax_response" style="float: initial; color: black;margin-top:10px">
                                    <span class="label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="aos-init aos-animate row">
        <div class="addgift" style="padding-bottom: 10px;">
            <div class="">
                <div id="list" class="tabelGridRow">
                    <table id="Grid" class="tabelGridRow2" style="width:100%; display:inline-table;">
                        <thead>
                            <tr>
                                <th>SNo</th>
                                <th>Success Link</th>
                                <th>Error Link</th>
                                <th>Success Count</th>
                                <th>Error Count</th>
                                <th>Created Date</th>
                                <th>Created By</th>
                                @*<th style="text-align:right;">Action</th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div>
                        Pages :<span id="Paging"></span>
                    </div>
                    <div style="float:right">
                        @if (Session["Search"] != null)
                        {
                            @Html.ActionLink("Back", "Index")
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space30"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="footerRow">
                © Copyright 2019 Luminous | All Rights Reserved
            </div>
        </div>
    </div>
</div>
<div class="loader" style="display:none"><div class="loader_inner"><img src="~/assets/img/lodingImg2.gif" id="gif" style="width: 100px;"></div></div>
<div id="divProcessing" class="loader" style="display:none">
    <div class="loader_inner"><img src="~/assets/img/lodingImg2.gif" id="gif" style="width: 100px;"></div>
</div>
@*<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>*@

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="~/js/select2.min.js"></script>
<link href="~/js/select2.min.css" rel="stylesheet" />
<script src="~/js/ConnectPlusMult.js"></script>
<script>
    $(document).ready(function () {
        AOS.init();
        $('#error_message2').delay(10000).fadeOut();
        var filename = "";
        $.get("@Url.Content("~/ConnectPlusMultiple/ConnectPlusMultipleGrid")", null, function (data) { SetGrid(data); }, "Json");
    });
    $("#MultiPlierform").submit(function (e) {
        // $("#gif").show();
    });
    //$("#ddlitem").select2({
    //    placeholder : "Select..."
    //});
    //$("#ddlstate").select2({
    //    placeholder: "Select..."
    //});

    //$(".js-select2").select2({
    //    closeOnSelect : false,
    //    placeholder : "Select...",
    //    allowHtml: true,
    //    allowClear: true,
    //    tags: true // создает новые опции на лету
    //});

</script>
<script type="text/javascript">
    $(function () {
        $("#btnUploadsubmit").on("click", function (event) {
            debugger;
            var FileUpload1 = $('input[type=file]')[0].files[0];
            if (FileUpload1 !== undefined) {
                $(".loader").show();
                $.post("@Url.Content("~/ConnectPlusMultiple/Index")", { itemId: null, stateId: null, FileUpload1: FileUpload1 }, function (data) { SetGrid(data); $(".loader").hide(); }, "Json");
            }
        });
        @*$.post("@Url.Content("~/ConnectPlusMultiple/Downloadcsv")", { itemId: null, stateId: statedata, materialcode: txtMaterialcode, startdate: sdate, enddate: edate }, function (data) { }, "Json");*@
        @*$("#btnsubmitLog").on("click", function (event) {
            debugger;
            var itemdata = $('#ddlitem').select2().val()
            var statedata = $('#ddlstate').select2().val()
            //$(".loader").show();
            $.post("@Url.Content("~/ConnectPlusMultiple/Downloadcsv")", { itemId: itemdata }, function (data) { }, "Json");
        });*@
    });
    function Edit(Id) {
        debugger;
        var sfilename = Id;
        //if (sfilename == null || sfilename == "")
        //{
        //    $(this).hide();
        //}
        //else
        //{
        window.location.href = "@Url.RouteUrl(new { Controller = "ConnectPlusMultiple", Action = "Download" })/?fileName=" + sfilename;
        //}
    }
</script>
<script type="text/javascript">
    function SetGrid(data) {
        debugger;
        var body = "";
        $("#Grid tbody").empty();
        var sno = 1;
        $.each(data.result, function (key, value) {
            debugger;
            var sfilename = "" + value.SuccessFile;
            var efilename = "" + value.ErrorFile;
            var LoadDate = null;
            var User = null;
            var i = 1;
            if (value.Success_UploadedDate == null) {
                LoadDate = value.Error_UploadedDate;
                User = value.Error_UploadedBy;
            }
            else {
                LoadDate = value.Success_UploadedDate;
                User = value.Success_UploadedBy;
            }
            if (value.ErrorFile == null || value.ErrorFile == "") {
                body += "<tr><td> " + sno + "</td>" +
               "<td><a style='cursor:pointer' onclick=Edit('" + sfilename + "');>Download</a></td>" +
               "<td><a style='cursor:pointer' onclick=Edit('" + efilename + "');></a></td>" +
               "<td>" + value.SuccessCount + "</td>" +
               "<td>" + value.ErrorCount + "</td>" +
               "<td>" + LoadDate + "</td>" +
               "<td>" + User + "</td></tr>"
            }
            else {
                if (value.SuccessFile == null || value.SuccessFile == "") {
                    body += "<tr><td> " + sno + "</td>" +
                   "<td><a style='cursor:pointer' onclick=Edit('" + sfilename + "');></a></td>" +
                   "<td><a style='cursor:pointer' onclick=Edit('" + efilename + "');>Download</a></td>" +
                   "<td>" + value.SuccessCount + "</td>" +
                   "<td>" + value.ErrorCount + "</td>" +
                   "<td>" + LoadDate + "</td>" +
                   "<td>" + User + "</td></tr>"
                }
                else {
                    body += "<tr><td> " + sno + "</td>" +
              "<td><a style='cursor:pointer' onclick=Edit('" + sfilename + "');>Download</a></td>" +
              "<td><a style='cursor:pointer' onclick=Edit('" + efilename + "');>Download</a></td>" +
              "<td>" + value.SuccessCount + "</td>" +
              "<td>" + value.ErrorCount + "</td>" +
              "<td>" + LoadDate + "</td>" +
              "<td>" + User + "</td></tr>"
                }
            }



            //body += "<tr><td> " + sno + "</td>" +
            //    "<td><a class='link' style='cursor:pointer' onclick='Edit(this,"+ sfilename+");'>Download</a></td>" +
            //    "<td><a class='link' style='cursor:pointer' onclick='Edit(this,"+ efilename+");'>Download</a></td>" +
            //    "<td>" + value.SuccessCount + "</td>" +
            //    "<td>" + value.ErrorCount + "</td>" +
            //    "<td>" + LoadDate + "</td>" +
            //    "<td>" + User + "</td></tr>"
            //   "<td>" + value.Material_Code + "</td>" +
            //     "<td>" + value.Material_Code + "</td>" +
            //       "<td>" + value.Material_Code + "</td>" +
            //"<td>" + value.Material_Code + "</td>" +
            // "<td>" + value.Material_Code + "</td>" +
            //"<td><a style='cursor:pointer' onclick=Edit(" + value.Id + ");>" + value.FileName + "</a></td>"
            //"<td>" + value.FileName + "</td></tr>"
            //"<td><a style='cursor:pointer' onclick=Edit(" + value.Id + ");>" + value.FileName + "</a></td>"
            //"<td style='text-align:right;'><a style='cursor:pointer' onclick=Edit(" + value.FileName + ");><i class='fas fa-pencil-alt' style='font-size: 13px; color: #737373;'>++</i></a> </a></td></tr>";
            sno = sno + 1;
        });
        $("#Grid tbody").append(body);
        //SetPages(data.TotalRecord)
        paging();
    }

    function paging() {
        $('#Paging').empty();
        $(document).ready(function () {
            var totalRows = $('#Grid').find('tbody tr:has(td)').length;
            var recordPerPage = 15;
            var numberOfPages = Math.ceil(totalRows / recordPerPage);
            for (var i = 0; i < numberOfPages; i++) {
                var pageNum = i + 1;
                $('#Paging').append('<a href="#" rel="' + i + '">' + pageNum + '</a> ');
            }
            $('#Grid tbody tr').hide();
            $('#Grid tbody tr').slice(0, recordPerPage).show();
            $('#Paging a:first').addClass('active');
            $('#Paging a').bind('click', function () {
                var currentPage = $(this).attr('rel');
                var startitem = currentPage * recordPerPage;
                var enditem = startitem + recordPerPage;
                //$('#Grid tbody tr').hide().slice(startitem, enditem).css('display', 'table-row').animate({ opacity: 1 }, 300);
                $('#Grid tbody tr').hide().slice(startitem, enditem).show();
            });
        });
    }

    //function SetPages(paging) {
    //    var pages = "";
    //    $("#Paging").empty();
    //    for (var i = 1; i <= parseInt(paging) ; i++) {
    //        pages += "<a style='cursor:pointer' onclick=GetPagesValues(" + i + ");> " + i + "  </a>";
    //    }
    //    $("#Paging").append(pages);
    //}

    @*function GetPagesValues(id) {
        $.post("@Url.Content("~/Ewarranty/GetContactDetail")", { page: id }, function (data) { SetGrid(data); }, "Json");
    }*@
    @*function Edit(id) {
        location.href = "@Url.Content("~/Ewarranty/Edit/")" + id;
    }*@
</script>
