@model LuminousMpartnerIB.EF.Lsd_GiftMaster
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .required
  {
    	color:Red;
 }
table {
border: 0;
border-spacing: 0;
font-size: 0.857em;
margin: 10px 0;
width: 100%;
}
table table {
font-size: 1em;
}
#footer-wrapper table {
font-size: 1em;
}
table tr th {
background: #757575;
background: rgba(0, 0, 0, 0.51);
border-bottom-style: none;
}
table tr th,
table tr th a,
table tr th a:hover {
color: #FFF;
font-weight: bold;
}
table tbody tr th {
vertical-align: top;
}
tr td,
tr th {
padding: 4px 9px;
border: 1px solid #fff;
text-align: left; /* LTR */
}
#footer-wrapper tr td,
#footer-wrapper tr th {
border-color: #555;
border-color: rgba(255, 255, 255, 0.18);
}
tr.odd {
background: #e4e4e4;
background: rgba(0, 0, 0, 0.105);
}
tr,
tr.even {
background: #efefef;
background: rgba(0, 0, 0, 0.063);
}
table ul.links {
margin: 0;
padding: 0;
font-size: 1em;
}
table ul.links li {
padding: 0 1em 0 0;
}
</style> 
<script type="text/javascript">
 

    $(function () {
      
        ValidationMessage();

    });

    function ValidationMessage() {
      

        if ('@ViewBag.File' != "") {
            $("#file").text('@ViewBag.File');
        }
        if ('@ViewBag.preStatus' == "1") {

            $("#Status").prop("checked", "checked");

        }
        if ('@ViewBag.Update' == "Done") {
            alert("Updation Done Successfully");
            location.href = "@Url.Content("~/LSD_Gift/index")";
        }
     

    }
</script>

@using (@Html.BeginForm("Update", "LSD_Gift", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="page-wrapper" style="background: #f2f4f8;">
        <div id="content_wrap">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="pageHeading"><span></span> Edit Magical 7 Gift</h1>
                </div>
            </div>

            <div class="row">
                <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="2500">
                    <div class="addgift">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Gift Name<span>*</span></label>
                                    @Html.HiddenFor(a => a.GiftId)
                                    @Html.TextBoxFor(a => a.GiftName, new { @class = "form-control", @placeholder = "Enter gift name" })
                                    @Html.ValidationMessageFor(a => a.GiftName, "", new { @class = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Gift Description<span>*</span></label>
                                    @Html.TextAreaFor(a => a.GiftDesc, new { @class = "form-control", @placeholder = "Enter gift description" })
                                    @Html.ValidationMessageFor(a => a.GiftDesc, "", new { @class = "required" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Upload Image<span>*</span></label>
                                    <input type="file" name="postedFile" style="border: none; outline: none;" />
                                    <span id="file" class="required"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Status<span>*</span></label>
                                    <input id="status" type="checkbox" checked="checked" name="Status" style="border: none; outline: none; height: inherit;" />
                                    <span class="Status"></span>
                                </div>
                                <div class="form-group previousImg" style="position:absolute; top:-88px; right:15px;">
                                    <label>Previous Image<span>*</span></label>
                                    <img src="@Url.Content("~/LSDImage/")@Model.GiftImage" title="@Model.GiftImage" style="width:100px; height:100px" />
                                </div>
                            </div>                           
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" class="SubmitButton submitBtn" value="Submit" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>




                        @*<div class="content_main">
                            <div class="boxes1">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="width: 137px;">
                                            Gift Name <span class="required">*</span>
                                        </td>
                                        <td>
                                            @Html.HiddenFor(a => a.GiftId)
                                            @Html.EditorFor(a => a.GiftName)<br />
                                            @Html.ValidationMessageFor(a => a.GiftName, "", new { @class = "required" })
                                        </td>
                                        <td style="width: 137px;">
                                            Gift Description <span class="required">*</span>
                                        </td>
                                        <td>

                                            @Html.TextAreaFor(a => a.GiftDesc)<br />
                                            @Html.ValidationMessageFor(a => a.GiftDesc, "", new { @class = "required" })
                                        </td>
                                    </tr>
                                                                       
                                    <tr>
                                        <td>
                                            Upload Image <span class="required">*</span>
                                        </td>
                                        <td>
                                            <input type="file" name="postedFile" />
                                            <span id="file" class="required"></span>
                                        </td>
                                        <td>Previous Image</td>
                                        <td>
                                            <img src="@Url.Content("~/LSDImage/")@Model.GiftImage" title="@Model.GiftImage" style="width:100px; height:100px" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Status <span class="required">*</span>
                                        </td>
                                        <td colspan="3">
                                            <input id="Status" type="checkbox" name="Status" />
                                        </td>
                                    </tr>

                                </table>

                            </div>
                            <input type="submit" class="SubmitButton" value="Submit" />
                        </div>*@
                    </div>
                </div>



                }
