@model LuminousMpartnerIB.EF.Card_dynamicPage
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
<link href="@Url.Content("~/assets/css/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/assets/js/jquery-ui.min.js")" type="text/javascript"></script>
<style type="text/css">
    .required {
        color: Red;
    }

    table {
        border: 0;
        border-spacing: 0;
        font-size: 0.857em;
        margin: 10px 0;
        width: 100%;
    }

        table table {
            font-size: 1em;
        }

    #footer-wrapper table {
        font-size: 1em;
    }

    table tr th {
        background: #757575;
        background: rgba(0, 0, 0, 0.51);
        border-bottom-style: none;
    }

        table tr th, table tr th a, table tr th a:hover {
            color: #FFF;
            font-weight: bold;
        }

    table tbody tr th {
        vertical-align: top;
    }

    tr td, tr th {
        padding: 4px 9px;
        border: 1px solid #fff;
        text-align: left; /* LTR */
    }

    #footer-wrapper tr td, #footer-wrapper tr th {
        border-color: #555;
        border-color: rgba(255, 255, 255, 0.18);
    }

    tr.odd {
        background: #e4e4e4;
        background: rgba(0, 0, 0, 0.105);
    }

    tr, tr.even {
        background: #efefef;
        background: rgba(0, 0, 0, 0.063);
    }

    table ul.links {
        margin: 0;
        padding: 0;
        font-size: 1em;
    }

        table ul.links li {
            padding: 0 1em 0 0;
        }
</style>
<style>
    .FullDes {
        position: relative;
        background-color: #1D1D1D;
        width: 245px;
        color: white;
        border: 1px solid black;
        display: none;
    }
</style>
<script type="text/javascript">
    $(function () {
        @*$.post("@Url.Content("~/ProductCategory/GetParentCategory")", null, function (data) { SetParentCategory(data); }, "Json");*@
        $.post("@Url.Content("~/CreatePermotionScheme_New/GetContactDetail")", null, function (data) { SetGrid(data); }, "Json");
        $.post("@Url.Content("~/CreatePermotionScheme_New/GetCardProvider")", null, function (data) { SetCardGrid(data); }, "Json");
        $.post("@Url.Content("~/Destributor/GetRegions")", null, function (data) { SetProdcutCategory(data, 'RegionList'); },
        "Json");
        $(".date").datepicker(
     { dateFormat: "dd-mm-yy" }
        );


        ValidationMessage();

    });

</script>
<script type="text/javascript">
    function ValidationMessage() {
        if ('@ViewBag.StartDate' != "") {
            $("#sdate").text('@ViewBag.StartDate');
        }

        if ('@ViewBag.EndDate' != "") {
            $("#edate").text('@ViewBag.EndDate');
        }

        if ('@ViewBag.File' != "") {
            $("#file").text('@ViewBag.File');
        }

        if ('@ViewBag.HFile' != "") {
            $("#Hfile").text('@ViewBag.HFile');
        }
        if ('@ViewBag.MFile' != "") {
            $("#Mfile").text('@ViewBag.MFile');
        }
        if ('@ViewBag.PFile' != "") {
            $("#Pfile").text('@ViewBag.PFile');
        }

        if ('@ViewBag.SaveStatus' != "") {
            alert('@ViewBag.SaveStatus');
            location.href = "@Url.Content("~/CreatePermotionScheme_New/Index")";
        }
        $("#sdate").val('@ViewBag.preStartDate');
        $("#edate").val('@ViewBag.PreEndDate');
        debugger;
    }
</script>
<script type="text/javascript">


    function SetGrid(data) {
        if (data == "Login") {
            location.href = "@Url.Content("~/Logout/Logout")";
        }
        else if (data == "snotallowed") {
            location.href = "@Url.Content("~/snotallowed/snotallowed")";
        }
        else {
            var body = "";
            $("#Grid tbody").empty();
            $.each(data.result, function (key, value) {

                body += "<tr><td> " + value.id + "</td>" +
                     //"<td>" + value.ParntCat + "</td>" +

                "<td>" + value.CardProvider + "</td>" +
                  "<td>" + value.Title + "</td>" +
                    "<td>" + value.Subtitle + "</td>" +

             "<td>" + value.StartDate + "</td>" +
             "<td>" + value.EndDate + "</td>" +
             "<td>" + value.status + "</td>" +

            "<td style='text-align:right;'><a style='cursor:pointer' onclick=Edit(" + value.id + ");><i class='fas fa-pencil-alt' style='font-size: 13px; color: #737373;'></i></a> <a style='cursor:pointer' onclick=Delete(" + value.id + ");><i class='fas fa-trash-alt' style='font-size:13px; color: #ff6c6c; margin-left: 10px;'></i></a></td></tr>";

            });
            $("#Grid tbody").append(body);
            //SetPages(data.TotalRecord)

            paging();
        }
    }
    //function SetPages(paging) {
    //    var pages = "";
    //    $("#Paging").empty();
    //    for (var i = 1; i <= parseInt(paging); i++) {
    //        pages += "<a style='cursor:pointer' onclick=GetPagesValues(" + i + ");> " + i + "  </a>";

    //    }
    //    $("#Paging").append("<u> Pages:-</u>" + pages);
    //}
    function GetPagesValues(id) {
        $.post("@Url.Content("~/CreatePermotionScheme_New/GetContactDetail")", { page: id }, function (data) { SetGrid(data); }, "Json");
    }
    function Edit(id) {
        location.href = "@Url.Content("~/CreatePermotionScheme_New/Edit/")" + id;
    }
    function Delete(id) {
        if (confirm("Do You Want To Delete This Record")) {

            $.post("@Url.Content("~/CreatePermotionScheme_New/Delete")", { id: id }, function (data) {
                $.post("@Url.Content("~/CreatePermotionScheme_New/GetContactDetail")", null, function (data) { SetGrid(data); }, "Json");

                alert(data);

            }, "Json");
        }
    }



    //Set Parent Category//
    @*function SetParentCategory(data) {
        if (data == "Login") {
            location.href = "@Url.Content("~/Logout/Logout")";
        }
        else if (data == "snotallowed") {
            location.href = "@Url.Content("~/snotallowed/snotallowed")";
        }
        else {
            option = "";
            var procat = $("#ParentCategory");
            procat.empty();
            procat.append("<option value=0>Select</option>");
            $.each(data, function (key, value) {
                option += "<option value=" + value.id + ">" + value.Name + "</option>";

            });
            procat.append(option);
        }
    }*@


    //Set Card Grid//
    function SetCardGrid(data) {
        if (data == "Login") {
            location.href = "@Url.Content("~/Logout/Logout")";
        }
        else if (data == "snotallowed") {
            location.href = "@Url.Content("~/snotallowed/snotallowed")";
        }
        else {
            option = "";
            var procat = $("#Ctype");
            procat.empty();
            procat.append("<option value=0>@LuminousMpartnerIB.Resource.Select</option>");
            $.each(data, function (key, value) {
                option += "<option value=" + value.id + ">" + value.Name + "</option>";

            });
            procat.append(option);
        }
    }

</script>
<script type="text/javascript">
    function Allch() {
        if ($("#All").is(":checked")) {
            $("#region").attr("disabled", true);
            $("#destributor").attr("disabled", true);
            $("#Dealer").attr("disabled", true);
            $("#userupload_file").attr("disabled", true);

            $("#checkDistri").hide();
            $("#checkDeal").hide();
        }
        else {
            $("#region").attr("disabled", false);
            $("#destributor").attr("disabled", false);
            $("#Dealer").attr("disabled", false);
            $("#userupload_file").attr("disabled", false);


            $("#checkDistri").show();
            $("#checkDeal").show();
        }

    }


    function GetRegions() {
        $.post("@Url.Content("~/Destributor/GetRegions")", null, function (data) { SetProdcutCategory(data, 'RegionList'); },
                 "Json");

    }
    function GetDestributor() {

        SetDestributor();

        //        $.post("../Dealers/GetAllDestributors", null, function (data) { SetProdcutCategory(data, 'DestributorList'); }, "Json");



    }
    function GetDealer() {

        SetDealer();
        //$.post("../Dealers/GetAllDealer", null, function (data) { SetProdcutCategory(data, 'DealerList'); }, "Json");

    }
    function SetProdcutCategory(data, id) {
        option = "";
        var procat = $("#" + id);
        procat.empty();
        //procat.append("<option value=0 disabled='disabled' >Select</option>");
        $.each(data, function (key, value) {
            option += "<option value=" + value.id + ">" + value.Name + "</option>";

        });
        procat.append(option);
        procat.multiselect({
            nonSelectedText: 'Select Region!',
            includeSelectAllOption: true,
            enableFiltering: true,
            maxHeight:150,
            buttonWidth: 120,
            enableClickableOptGroups: true,
            enableCollapsibleOptGroups: true
        });

    }

    function SetRegion() {
        $("#RgList").val($("#RegionList").val());
        var regionlist = $("#RgList").val();

        $.post("@Url.Content("~/Dealers/GetDestributorsByMultiPleids")", { RegionId: regionlist }, function (data) { SetProdcutCategory(data, 'DestributorList'); }, "Json");
    }
    function SetDestributor() {
        $("#disList").val($("#DestributorList").val());

        var regionlist = $("#disList").val();

        $.post("@Url.Content("~/Dealers/GetAllDealerByMultiPleIds")", { RegionId: regionlist }, function (data) { SetProdcutCategory(data, 'DealerList'); }, "Json");
    }
    function SetDealer() {
        $("#Dealist").val($("#DealerList").val());
    }


    $(function () {

        $("#txtsearch").on("keyup", function (event) {

            if (event.which == 8) {

                if ($("#txtsearch").val() == null || $("#txtsearch").val() == 0) {
                    $('#Paging').empty();
                    $.post("@Url.Content("~/CreatePermotionScheme_New/GetContactDetail")", null, function (data) { SetGrid(data); }, "Json");
                }

            }

            else {
                if ($("#txtsearch").val() != null || $("#txtsearch").val() > 0) {
                    var value = this.value.toLowerCase().trim();

                    $('#Grid tr').each(function (index) {

                        if (!index) return;

                        $(this).find("td").each(function () {

                            var id = $(this).text().toLowerCase().trim();
                            var not_found = (id.indexOf(value) == -1);
                            $(this).closest('tr').toggle(!not_found);
                            return not_found;
                        });

                    });

                }

            }
        });
    });


    function paging() {
        $('#Paging').empty();

        $(document).ready(function () {

            var totalRows = $('#Grid').find('tbody tr:has(td)').length;

            var recordPerPage = 15;
            var numberOfPages = Math.ceil(totalRows / recordPerPage);

            for (var i = 0; i < numberOfPages; i++) {
                var pageNum = i + 1;
                $('#Paging').append('<a href="#" rel="' + i + '">' + pageNum + '</a> ');
            }

            $('#Grid tbody tr').hide();
            $('#Grid tbody tr').slice(0, recordPerPage).show();
            $('#Paging a:first').addClass('active');
            $('#Paging a').bind('click', function () {

                var currentPage = $(this).attr('rel');
                var startitem = currentPage * recordPerPage;
                var enditem = startitem + recordPerPage;

                //$('#Grid tbody tr').hide().slice(startitem, enditem).css('display', 'table-row').animate({ opacity: 1 }, 300);
                $('#Grid tbody tr').hide().slice(startitem, enditem).show();
            });

        });
    }

    //$(function () {
    //    var _URL = window.URL || window.webkitURL;
    //    var imgwidth = "";
    //    var imgheight = "";
    //    $("#file_mainimage").change(function () {

    //        var file_size = (this.files[0].size);

    //        if (file_size > 50000) {

    //            $(".m_file_error").html("File size should not be greater than 50 KB");
    //            /*$(".file_error").html("File size is greater than 20 KB");*/


    //            return false;
    //        }
    //        else {
    //            if ((file = this.files[0])) {
    //                img = new Image();
    //                img.onload = function () {
    //                    alert(this.width + " " + this.height);
    //                    imgwidth = this.width;
    //                    imgheight = this.height;
    //                    if (imgwidth == 500 && imgheight == 500) {
    //                         localThis.next(".file_error").html("");
    //                        $(".m_file_error").html("");
    //                        return true;
    //                    }
    //                    else {

    //                        //$("body").find("#" + getDynamicID).next(".file_error").html("test 345");
    //                        document.querySelector("#" + getDynamicID).nextSibling.nextSibling.nextSibling.nextSibling.innerHTML = 'Dimension should be 724*290';
    //                        //localThis.closest(".file_error").html("Dimension should be 500*400");
    //                        // $(this).next(".file_error").html();
    //                        /*$(".file_error").html("File size is greater than 20 KB");*/

    //                        $(".m_file_error").html("Dimension should be 500*500");
    //                        return false;
    //                    }
    //                };
    //                img.src = _URL.createObjectURL(file);
    //            }


    //        }


    //    });

    //    $("#file_headerimage").change(function () {

    //        var file_size = (this.files[0].size);

    //        if (file_size > 50000) {

    //            $(".h_file_error").html("File size should not be greater than 50 KB");
    //            /*$(".file_error").html("File size is greater than 20 KB");*/


    //            return false;
    //        }
    //        else {
    //            if ((file = this.files[0])) {
    //                img = new Image();
    //                img.onload = function () {
    //                    alert(this.width + " " + this.height);
    //                    imgwidth = this.width;
    //                    imgheight = this.height;
    //                    if (imgwidth == 700 && imgheight == 151) {
    //                         localThis.next(".file_error").html("");
    //                        $(".h_file_error").html("");
    //                        return true;
    //                    }
    //                    else {

    //                        //$("body").find("#" + getDynamicID).next(".file_error").html("test 345");
    //                        document.querySelector("#" + getDynamicID).nextSibling.nextSibling.nextSibling.nextSibling.innerHTML = 4444'Dimension should be 724*290';
    //                        //localThis.closest(".file_error").html("Dimension should be 500*400");
    //                        // $(this).next(".file_error").html();
    //                        /*$(".file_error").html("File size is greater than 20 KB");*/

    //                        $(".h_file_error").html("Dimension should be 700*151");
    //                        return false;
    //                    }
    //                };
    //                img.src = _URL.createObjectURL(file);
    //            }


    //        }


    //    });

    //});

</script>

<script type="text/javascript">

    $(function () {

        $("#title_colour").click(function () {

            window.open('https://htmlcolorcodes.com/color-picker/');

        })

        $("#subtitle_colour").click(function () {
            window.open('https://htmlcolorcodes.com/color-picker/');

        })

    });

</script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#hex1Titlecolor, #hex2subtitlecolor").change(function () {


            var regExp = new RegExp("^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$");

            var text1 = $("#hex1Titlecolor").val();
            var text2 = $("#hex2subtitlecolor").val();

            if ($("#hex1Titlecolor").val() != '') {
                if (regExp.test(text1)) {
                    $("#lblmessagehex1price").hide();
                }
                else {
                    $("#lblmessagehex1price").show();
                    $("#lblmessagehex1price").text("Please Enter a Valid Hex Code");
                    $("#hex1Titlecolor").val('');
                }

            }

            if ($("#hex2subtitlecolor").val() != '') {
                if (regExp.test(text2)) {
                    $("#lblmessagehex2price").hide();
                }
                else {
                    $("#lblmessagehex2price").show();
                    $("#lblmessagehex2price").text("Please Enter a Valid Hex Code");
                    $("#hex2subtitlecolor").val('');
                }

            }


        });

    });

</script>

<script type="text/javascript">

    $(function () {

        var _URL = window.URL || window.webkitURL;
        var imgwidth = "";
        var imgheight = "";

        $("#file_headerimage").change(function () {
            debugger;

            var file_size = (this.files[0].size);

            if ($("#file_headerimage").val() != '' && $("#file_headerimage").length != 0) {
                if ($("#file_headerimage").length != 0 && file_size >= 4000) {
                    $(".h_file_error").html("File size should not be greater than 4 KB");
                    $("#file_headerimage").val('');
                    return false;
                }
                else {
                    if ((file = this.files[0])) {
                        img = new Image();
                        img.onload = function () {
                            imgwidth = this.width;
                            imgheight = this.height;

                            if (imgwidth == 700 && imgheight == 151) {
                                $(".h_file_error").html("");
                                return true;
                            }
                            else {
                                $(".h_file_error").html("Dimension should be 700*151");
                                $("#file_headerimage").val('');
                                return false;
                            }
                        };
                        img.src = _URL.createObjectURL(file);

                    }
                }
            }

        });


        $("#file_mainimage").change(function () {
            debugger;

            var file_size = (this.files[0].size);

            if ($("#file_mainimage").val() != '' && $("#file_mainimage").length != 0) {
                if ($("#file_mainimage").length != 0 && file_size >= 150000) {
                    $(".m_file_error").html("File size should not be greater than 4 KB");
                    $("#file_mainimage").val('');
                    return false;
                }
                else {
                    if ((file = this.files[0])) {
                        img = new Image();
                        img.onload = function () {
                            imgwidth = this.width;
                            imgheight = this.height;

                            if (imgwidth <= 800 && imgheight == 500) {
                                $(".m_file_error").html("");
                                return true;
                            }
                            else {
                                $(".m_file_error").html("Dimension should be maximum 500*500");
                                $("#file_mainimage").val('');
                                return false;
                            }
                        };
                        img.src = _URL.createObjectURL(file);

                    }
                }
            }

        });



    });


</script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnsubmit").click(function () {

            if ($('#Ctype').val() == 0 || $('#Ctype option:selected').val() == 0) {
                $("#lblmessagesubmit").text("Please fill all the fields");
                return false;
            }
            if ($("#txttitle").val() == "") {
                $("#lblmessagesubmit").text("Please fill all the fields");
                return false;
            }
            if ($("#hex1Titlecolor").val() == "") {
                $("#lblmessagesubmit").text("Please fill all the fields");
                return false;
            }
            if ($("#txtsubtitle").val() == "") {
                $("#lblmessagesubmit").text("Please fill all the fields");
                return false;
            }
            if ($("#hex2subtitlecolor").val() == "") {
                $("#lblmessagesubmit").text("Please fill all the fields");
                return false;
            }
            if ($('#file_headerimage').length == 0 || $('#file_headerimage').val() == '') {
                $("#lblmessagesubmit").text("Please fill all the fields");
                return false;
            }
            if ($('#file_mainimage').length == 0 || $('#file_mainimage').val() == '') {
                $("#lblmessagesubmit").text("Please fill all the fields");
                return false;
            }
            if ($("#sdate").val() == "") {
                $("#lblmessagesubmit").text("Please fill all the fields");
                return false;
            }
            if ($("#edate").val() == "") {
                $("#lblmessagesubmit").text("Please fill all the fields");
                return false;
            }
        });

    });

</script>
<script type="text/javascript">
    $(function () {
        var coords = new Array();
        $('#Grid tbody').addClass("DragMe");

        $('.DragMe').sortable({
            disabled: false,
            axis: 'y',
            //items: "> tr:not(:first)",
            forceHelperSize: true,
            update: function (event, ui) {
                var Newpos = ui.item.index();

                var RefID = $('tr').find('td:first').html();
                //var RefID=   $(this).closest('tr').attr('id');

                //alert("Position " + Newpos + "..... RefID: " + RefID);
                $("#Grid tr:has(td)").each(function () {

                    var RefID = $(this).find("td:eq(0)").html();
                    var NewPosition = $(".ui-sortable-handle").index(this) + 1;
                    //alert(RefID + " " + NewPosition);
                    coords.push({ x: RefID, y: NewPosition });
                });

                for (var i = 0; i < coords.length; i++) {
                    var xcoord = coords[i].x + "," + coords[i].y;

                    var arr = { ids: xcoord };
                    $.ajax({
                        url: '@Url.Action("UpdateSequence", "CreatePermotionPrice_New")',
                        type: 'POST',
                        data: JSON.stringify(arr),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (msg) {
                            alert(msg);
                        }
                    });
                }

                coords.length = 0;


            }
        }).disableSelection();
    });
    //Grid Swapping End//

</script>

<div id="page-wrapper" style="background: #f2f4f8;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="pageHeading"><span></span>@LuminousMpartnerIB.Resource.AddScheme</h1>
        </div>
    </div>

    <div id="form" style="margin-bottom: 11px">
        @using (Html.BeginForm("SaveContact", "CreatePermotionScheme_New", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="2500">
                    <div class="addgift" style="padding-bottom: 10px;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@LuminousMpartnerIB.Resource.CardType<span class="required">*</span></label>
                                    <select name="Ctype" style="color: black" id="Ctype" class="form-control">
                                        <option>@LuminousMpartnerIB.Resource.Select</option>
                                    </select>

                                    @Html.ValidationMessageFor(a => a.CardProviderId, "", new { @class = "required" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="2500">
                    <div class="addgift" style="padding-bottom: 10px;">
                        <h2>@LuminousMpartnerIB.Resource.Header</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>@LuminousMpartnerIB.Resource.Title<span class="required">*</span></label>
                                    @Html.TextBoxFor(a => a.Title, new { @class = "form-control", id = "txttitle", @placeholder = @LuminousMpartnerIB.Resource.EnterTitle })
                                    <br />
                                    @Html.ValidationMessageFor(a => a.Title, "", new { @class = "required" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label> @LuminousMpartnerIB.Resource.TitleColour<span class="required">*</span></label>
                                    @Html.TextBoxFor(a => a.TitleColour, new { @class = "form-control", id = "hex1Titlecolor", @placeholder = @LuminousMpartnerIB.Resource.Hex_Code })
                                    <i style="font-size:11px; font-style:normal;"><a id="title_colour">@LuminousMpartnerIB.Resource.ReferenceforHexCode</a></i>
                                    <label id="lblmessagehex1price" style=" font-size: 11px; color: red; position: absolute; top: 62px; left: 137px;"></label>
                                    @Html.ValidationMessageFor(a => a.TitleColour, "", new { @class = "required" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>@LuminousMpartnerIB.Resource.SubTitle<span class="required">*</span></label>
                                    @Html.TextBoxFor(a => a.Sub_Title, new { @class = "form-control", id = "txtsubtitle", @placeholder = @LuminousMpartnerIB.Resource.SubTitle })
                                    <br />
                                    @Html.ValidationMessageFor(a => a.Sub_Title, "", new { @class = "required" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>@LuminousMpartnerIB.Resource.SubTitleColour<span class="required">*</span></label>
                                    @Html.TextBoxFor(a => a.Sub_TitleColour, new { @class = "form-control", id = "hex2subtitlecolor", @placeholder = @LuminousMpartnerIB.Resource.Hex_Code })
                                    <i style="font-size:11px; font-style:normal;"><a id="subtitle_colour">@LuminousMpartnerIB.Resource.ReferenceforHexCode</a> </i>
                                    <label id="lblmessagehex2price" style=" font-size: 11px; color: red; position: absolute; top: 62px; left: 137px;"></label>

                                    @Html.ValidationMessageFor(a => a.Sub_TitleColour, "", new { @class = "required" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>@LuminousMpartnerIB.Resource.UploadHeaderImages<span class="required">*</span></label>
                                    <label for="file_headerimage" class="btn" style="display:block;padding:5px; border:1px solid #ccc; width:50%;">@LuminousMpartnerIB.Resource.SelectImage</label>
                                    <input type="file" id="file_headerimage" name="header_image" style="height: inherit; visibility:hidden; border: none;" />
                                    <i style="font-size:11px; font-style:normal;">(@LuminousMpartnerIB.Resource.Dimension-700*151  @LuminousMpartnerIB.Resource.Size- 4kb)</i>
                                    <span class="h_file_error" style="color:red;font-size:11px;"></span>
                                    <span id="Hfile" class="required"></span>

                                    @Html.ValidationMessageFor(a => a.ImageSystemName, "", new { @class = "required" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="2500">
                    <div class="addgift" style="padding-bottom: 10px;">
                        <h2>@LuminousMpartnerIB.Resource.Main</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label> @LuminousMpartnerIB.Resource.UploadMainImages<span class="required">*</span></label>

                                    <label for="file_mainimage" class="btn" style="display:block;padding:5px; border:1px solid #ccc; width:50%;">@LuminousMpartnerIB.Resource.SelectImage</label>
                                    <input type="file" id="file_mainimage" name="main_image" class="form-control" style="border:none;visibility:hidden; height:inherit;" />
                                    <i style="font-size:11px; font-style:normal;">(@LuminousMpartnerIB.Resource.MaximunDimension-500*500  @LuminousMpartnerIB.Resource.Size- 150kb)</i><br />
                                    <span class="m_file_error" style=" color:red;font-size:11px;"></span>
                                    <span id="Mfile" class="required"></span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>@LuminousMpartnerIB.Resource.StartDate<span class="required">*</span></label>
                                    <input id="sdate" type="text" placeholder="dd-mm-yyyy" autocomplete="off" class="date form-control" name="StartDate" />
                                    @Html.ValidationMessageFor(a => a.Startdate, "", new { @class = "required" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>@LuminousMpartnerIB.Resource.EndDate<span class="required">*</span></label>
                                    <input id="edate" type="text" placeholder="dd-mm-yyyy" autocomplete="off" class="date form-control" name="EndDate" />
                                    @Html.ValidationMessageFor(a => a.Enddate, "", new { @class = "required" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="2500">
                    <div class="addgift" style="padding-bottom:30px;">
                        @*<h2>Permission For</h2>*@
                        <div class="row" id="GridView">
                            @*<div class="col-md-12">
                                    <table class="permissionTbl">
                                        <tr>
                                            <td>All</td>
                                            <td>Region</td>
                                            <td>Distributor</td>
                                            <td>Dealer</td>
                                            <td>Upload User</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="checkbox" name="Alls" onchange="Allch();" id="All" />
                                            </td>
                                            <td valign="top">
                                                <select id="RegionList" data-placeholder="Select" onchange="SetRegion();" multiple="multiple" style="color: black;"></select>
                                                <input type="hidden" id="RgList" name="rglist" />
                                            </td>
                                            <td valign="top">
                                                <input type="checkbox" id="checkDistri" name="DistriCheck" />
                                            </td>
                                            <td valign="top">
                                                <input type="checkbox" id="checkDeal" name="DealCheck" />
                                            </td>
                                            <td valign="top">
                                                <input type="file" name="userupload_file" id="userupload_file" style="border:none; height:inherit;" /> <a href="~/Format/UsersFormat.csv">Download Format</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5">
                                                @Html.ValidationMessageFor(a => a.Status, "", new { @class = "required" })
                                            </td>
                                        </tr>

                                    </table>
                                </div>*@
                            <div class="col-md-6">
                                <div class="">
                                    <label>@LuminousMpartnerIB.Resource.UploadPDF</label>
                                    <label for="pdf" class="btn" style="display:block;padding:5px; border:1px solid #ccc; width:50%;">@LuminousMpartnerIB.Resource.Select</label>
                                    <input type="file" id="pdf" name="Pdf_file" style="border:none;visibility:hidden; height:inherit;" />
                                    <span id="Pfile" class="required"></span>
                                    <br />
                                    @*@Html.ValidationMessageFor(a => a.PdfSystemName, "", new { @class = "required" })*@

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="">
                                    <label>@LuminousMpartnerIB.Resource.Status</label>
                                    <input type="checkbox" checked="checked" name="statusC" style="border:none; height:inherit;" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" id="btnsubmit" value=@LuminousMpartnerIB.Resource.Submit class="submitBtn" />
                                <label id="lblmessagesubmit" style="font-size: 16px; color:red;"></label>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="2500">
                    <div class="addgift" style="padding-bottom: 10px;">
                        <div class="">
                            <div style="float:right;margin-right:12px; margin-top: -15px">
                                @using (Html.BeginForm("Index", "CreatePermotionScheme_New", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <table class="headingHd" style="width:100%;">
                                        <tr>
                                            <th colspan="8" style="font-size: 20px;font-weight: normal;background: none; color: #595959; width: 79%;"> @LuminousMpartnerIB.Resource.SchemeDataList</th>
                                            <th style="font-weight:normal;position: relative; background: none;  padding: 2px 0 0 0px;  font-size: 13px;">
                                                @Html.TextBox("Search", null, new { Id = "txtsearch", @placeholder = @LuminousMpartnerIB.Resource.Search, @style = "padding: 7px 15px; border: 1px solid #eee; border-radius: 3px; color:#595959;" })<img src="/images/searchIcon.png" alt="" title="" style="position: absolute;right:12px; top:15px; opacity: 0.2;">
                                                @*<input type="submit" id="btnsearch" value="Search" style="border:none; background: #ffaf38; padding: 7px 18px; border-radius: 5px;" />*@
                                            </th>
                                        </tr>
                                    </table>
                                }
                            </div>
                            <div id="list" class="tabelGridRow">
                                <table id="Grid" class="tabelGridRow2" style="width:100%; display:inline-table;">
                                    <thead>
                                        <tr>
                                            <th>
                                                @LuminousMpartnerIB.Resource.ID
                                            </th>
                                            <th>
                                                @LuminousMpartnerIB.Resource.CardType
                                            </th>
                                            <th>
                                                @LuminousMpartnerIB.Resource.Title
                                            </th>
                                            <th>
                                                @LuminousMpartnerIB.Resource.SubTitle
                                            </th>

                                            <th>
                                                @LuminousMpartnerIB.Resource.StartDate
                                            </th>
                                            <th>
                                                @LuminousMpartnerIB.Resource.EndDate
                                            </th>
                                            <th>
                                                @LuminousMpartnerIB.Resource.Status
                                            </th>
                                            <th style="text-align:right;">
                                                @LuminousMpartnerIB.Resource.Action
                                            </th>
                                        </tr>

                                    </thead>
                                    <tbody></tbody>

                                </table>
                                <div>
                                    Pages :<span id="Paging"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>






            </div>

        }
        @*<div style="float:right;margin-right:12px">
                                @using (Html.BeginForm("Index", "CreatePermotionScheme_New", FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
            {
                                    <table>
                                        <tr>
                                            <td>
                                                @Html.TextBox("Search", null, new { Id = "txtsearch", @placeholder = "Search" })
                                            </td>
                                            <td></td>
                                            <td>
                                                <input type="submit" id="btnsearch" value="Search" />
                                            </td>
                                        </tr>
                                    </table>

            }
                            </div>*@
    </div>

    <div class="space30"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="footerRow">
                © Copyright 2019 LuminousMpartnerIB | All Rights Reserved
            </div>
        </div>
    </div>

</div>