@model Luminous.EF.contactUsDetail
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/assets/css/Formstyle.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/assets/js/jquery-1.10.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/js/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<style type="text/css">
    .required
  {
    	color:Red;
 }
table {
border: 0;
border-spacing: 0;
font-size: 0.857em;
margin: 10px 0;
width: 100%;
}
table table {
font-size: 1em;
}
#footer-wrapper table {
font-size: 1em;
}
table tr th {
background: #757575;
background: rgba(0, 0, 0, 0.51);
border-bottom-style: none;
}
table tr th,
table tr th a,
table tr th a:hover {
color: #FFF;
font-weight: bold;
}
table tbody tr th {
vertical-align: top;
}
tr td,
tr th {
padding: 4px 9px;
border: 1px solid #fff;
text-align: left; /* LTR */
}
#footer-wrapper tr td,
#footer-wrapper tr th {
border-color: #555;
border-color: rgba(255, 255, 255, 0.18);
}
tr.odd {
background: #e4e4e4;
background: rgba(0, 0, 0, 0.105);
}
tr,
tr.even {
background: #efefef;
background: rgba(0, 0, 0, 0.063);
}
table ul.links {
margin: 0;
padding: 0;
font-size: 1em;
}
table ul.links li {
padding: 0 1em 0 0;
}
</style> 
<script type="text/javascript">
    $(function () {
        $.post("@Url.Content("~/ContactUs/GetContactDetail")", null, function (data) { SetGrid(data); }, "Json");
    });
    function SetGrid(data) {
    debugger;
        if (data == "Login") {
            location.href = "@Url.Content("~/Logout/Logout")";
        }
        else if (data == "snotallowed") {
            location.href = "@Url.Content("~/snotallowed/snotallowed")";
        }
        else {
            var body = "";
            $("#Grid tbody").empty();
            $.each(data.result, function (key, value) {
                body += "<tr><td>" + value.id + "</td>" +
                "<td>" + value.ctype + "</td>" +
            "<td>" + value.addrs + "</td>" +
             "<td>" + value.email + "</td>" +
             "<td>" + value.phno + "</td>" +
                 "<td>" + value.fax + "</td>" +
            "<td>" + value.status + "</td>" +
            "<td><a style='cursor:pointer' onclick=Edit(" + value.id + ");>Edit</a> <a style='cursor:pointer' onclick=Delete(" + value.id + ");>Delete</a></td></tr>";
                debugger;
            });
            $("#Grid tbody").append(body);
            SetPages(data.TotalRecord)

        }

    }

    function Delete(id) {
        if (confirm("Do You Want To Delete This Record")) {

            $.post("@Url.Content("~/ContactUs/DeleteContact")", { id: id }, function (data) {
                $.post("@Url.Content("~/ContactUs/GetContactDetail")", null, function (data) { SetGrid(data); }, "Json");

                alert(data);

            }, "Json");
        }
    }

    function Edit(id) {
        location.href = "@Url.Content("~/ContactUs/Edit/")" + id;
    }
    function SetPages(paging) {
        var pages = "";
        $("#Paging").empty();
        for (var i = 1; i <= parseInt(paging); i++) {
            pages += "<a style='cursor:pointer' onclick=GetPagesValues(" + i + ");> " + i + "  </a>";
            debugger;
        }
        $("#Paging").append( "<u> Pages:-</u>"+pages);
    }

    function GetPagesValues(id) {
        $.post("@Url.Content("~/ContactUs/GetContactDetail")", { page: id }, function (data) { SetGrid(data); }, "Json");
    }
</script>
<div id="form" style="margin-bottom: 11px">
    @using (Ajax.BeginForm("SaveContact", new AjaxOptions { HttpMethod = "get", UpdateTargetId = "d", InsertionMode = InsertionMode.Replace }))
    { 
        <div id="content_wrap">
      <div class="msgbar msg_Info heading">Contact Us</div>
      <div class="content_main" >
        <div class="boxes1">
            <table id="GridView">
                <tr>
                    <td style="width: 137px;">
                        Contact Us Type <span class="required">*</span>
                    </td>
                    <td style="width: 221px">
                    <select name="CType" style="color:Black">
                    <option value="0">Select Contact Type</option>
                    <option value="Luminous Power Technologies Pvt Ltd">Luminous Power Technologies Pvt Ltd.</option>
                    <option value="Luminous Care">Luminous Care</option>
                    </select>
                    <br />
                        @Html.ValidationMessageFor(a => a.Contact_Us_Type, "", new { @class = "required" })
                    </td>
                    <td style="width: 124px;">
                        Phone Number <span class="required">*</span>
                    </td>
                    <td>@Html.TextBoxFor(a => a.PhoneNumber)
                    <br />
                        @Html.ValidationMessageFor(a => a.PhoneNumber, "", new { @class = "required" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Address <span class="required">*</span>
                    </td>
                    <td colspan="3">@Html.TextAreaFor(a => a.CAddress, 5, 50, new { })
                    <br />
                        @Html.ValidationMessageFor(a => a.CAddress, "", new { @class = "required" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Email <span class="required">*</span>
                    </td>
                    <td>@Html.TextBoxFor(a => a.Email)
                    <br />
                        @Html.ValidationMessageFor(a => a.Email, "", new { @class = "required" })
                    </td>
                    <td>
                        Fax <span class="required">*</span>
                    </td>
                    <td>@Html.TextBoxFor(a => a.Fax)
                    <br />
                        @Html.ValidationMessageFor(a => a.Fax, "", new { @class = "required" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Status
                    </td>
                    <td colspan="3">
                        <input type="checkbox" checked="checked" name="statusC" />
                    </td>
                </tr>
            </table>
            <input type="submit" value="Submit" />
        </div>
        </div>
        </div>
       
       
    }
</div>
<div id="list" style="width: 997px;float: right;margin-right: 15px;" >
    <table id="Grid">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Contact Us Type
                </th>
                <th>
                    Address
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Fax
                </th>
                <th>
                    Status
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
<div id="Paging">
</div>
</div>
