@model LuminousMpartnerIB.EF.ProductLevelThree
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="@Url.Content("~/assets/css/Formstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/assets/js/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/jquery-ui.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/assets/css/jquery-ui.min.css")" rel="stylesheet" type="text/css" />*@
<script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>
<link href="@Url.Content("~/assets/css/chosen.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/assets/js/jquery-ui.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/assets/css/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>
<link href="@Url.Content("~/assets/css/chosen.css")" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>

<script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>
<link href="@Url.Content("~/assets/css/chosen.css")" rel="stylesheet" type="text/css" />


<style type="text/css">
    section#main_content {
        min-height: 2000px;
    }

    .required {
        color: Red;
    }

    table {
        border: 0;
        border-spacing: 0;
        font-size: 0.857em;
        margin: 10px 0;
        width: 100%;
    }

        table table {
            font-size: 1em;
        }

    #footer-wrapper table {
        font-size: 1em;
    }

    table tr th {
        background: #757575;
        background: rgba(0, 0, 0, 0.51);
        border-bottom-style: none;
    }

        table tr th, table tr th a, table tr th a:hover {
            color: #FFF;
            font-weight: bold;
        }

    table tbody tr th {
        vertical-align: top;
    }

    tr td, tr th {
        padding: 4px 9px;
        border: 1px solid #fff;
        text-align: left; /* LTR */
    }

    #footer-wrapper tr td, #footer-wrapper tr th {
        border-color: #555;
        border-color: rgba(255, 255, 255, 0.18);
    }

    tr.odd {
        background: #e4e4e4;
        background: rgba(0, 0, 0, 0.105);
    }

    tr, tr.even {
        background: #efefef;
        background: rgba(0, 0, 0, 0.063);
    }

    table ul.links {
        margin: 0;
        padding: 0;
        font-size: 1em;
    }

        table ul.links li {
            padding: 0 1em 0 0;
        }
</style>
<style>
    .FullDes {
        position: relative;
        background-color: #1D1D1D;
        width: 245px;
        color: white;
        border: 1px solid black;
        display: none;
    }
</style>
<script type="text/javascript">
    $(function () {

         $.post("@Url.Content("~/Price/GetDistributors")", null, function (data) { SetParentCategory(data); }, "Json");

        //$("#DestributorList").chosen({ width: "100px" });
        //$("#DealerList").chosen({ width: "100px" });


        ValidationMessage();
    });

</script>
@*Setting Of ValidationMessage*@
<script type="text/javascript">
    function ValidationMessage() {
        if ('@ViewBag.StartDate' != "") {
            $("#sdate").text('@ViewBag.StartDate');
        }

        if ('@ViewBag.EndDate' != "") {
            $("#edate").text('@ViewBag.EndDate');
        }

        if ('@ViewBag.File' != "") {
            $("#file").text('@ViewBag.File');
        }
        if ('@ViewBag.SaveStatus' != "") {
            alert('@ViewBag.SaveStatus');
            $("#file").text('@ViewBag.File');
        }

        if ('@ViewBag.FileCarousal' != "") {
            $("#ImageCarousal").text('@ViewBag.FileCarousal');
        }



        $("#stdate").val('@ViewBag.preStartDate');
        $("#etdate").val('@ViewBag.PreEndDate');

    }
</script>
<script type="text/javascript">

    $(document).ready(function () {
        //$("#homeups_hkva1").hide();
        //$("#homeups_hkva2").hide();
        //$("#homeups_hkva3").hide();
        //$("#Battery").hide();
        //$("#Battery1").hide();

        //$("#ProductCategory").change(function () {
        //    //  yourdropdownid option:selected


        //    if ($("#ProductCategory option:selected").val() == "9") {

        //        $("#homeups_hkva1").show();
        //        $("#homeups_hkva2").show();
        //        $("#homeups_hkva3").show();
        //        $("#Battery").hide();
        //        $("#Battery1").hide();
        //    }
        //    if ($("#ProductCategory option:selected").val() == "15") {

        //        $("#homeups_hkva1").show();
        //        $("#homeups_hkva2").show();
        //        $("#homeups_hkva3").show();
        //        $("#Battery").hide();
        //        $("#Battery1").hide();
        //    }
        //    if ($("#ProductCategory option:selected").val() == "8") {

        //        $("#homeups_hkva1").hide();
        //        $("#homeups_hkva2").hide();
        //        $("#homeups_hkva3").hide();
        //        $("#Battery").show();
        //        $("#Battery1").show();
        //    }

        //});

    });

    $(function () {

          $.post("@Url.Content("~/ProductLevel3View/GetContactDetail")", null, function (data) { SetGrid(data); }, "Json");


        $.post("@Url.Content("~/ProductCategory/GetParentCategory")", null, function (data) { SetParentCategory(data); }, "Json");
        $.post("@Url.Content("~/Destributor/GetRegions")", null, function (data) { SetProdcutCategory(data, 'RegionList'); },
        "Json");
        $.post("@Url.Content("~/ProductLevelOne/GetProductCategory")", null, function (data) { SetProdcutCategoryPC(data, 'ProductCategory'); },
        "Json");
      
        $.post("@Url.Content("~/ProductLevelTwo/GetProductLevelOneCategory")", {}, function (data) { SetProdcutCategoryPC(data, 'pclvlOne'); }, "Json");

        //Set DropDown By Previous Values Begin
        if ('@ViewBag.ProductCat1' != '') {
            $.post("@Url.Content("~/ProductLevelTwo/GetProductLevelOneCategory")", { procatid: '@ViewBag.ProductCat' }, function (data) { SetProdcutCategoryLoad(data, 'pclvlOne'); }, "Json");
        }
        if ('@ViewBag.ProductCat2' != '') {
            $.post("@Url.Content("~/ProductLevel3/GetProductLevelTwoCategory")", { procatid: '@ViewBag.ProductCat', procatone: '@ViewBag.ProductCat1' }, function (data) { SetProdcutCategoryLoad(data, 'pclvlTwo'); }, "Json");
        }
        if ('@ViewBag.ProductCat3' != '') {
            $.post("@Url.Content("~/ProductLevelThree/GetProductLevel3")", { productid: '@ViewBag.ProductCat', ProductlvlOneid: '@ViewBag.ProductCat1', ProductLvlTwoId: '@ViewBag.ProductCat2' }, function (data) { SetProdcutCategoryLoad(data, 'pclvlthree'); }, "Json");
        }

        //Set DropDown By Previous Values end
    });
    //Delete Record Begin

    function Delete(id) {
        if (confirm("Do You Want To Delete This Record")) {
            $.post("@Url.Content("~/ProductLevel3/DeleteContact")", { id: id }, function (data) {
                $.post("@Url.Content("~/ProductLevel3View/GetContactDetail")", null, function (data) { SetGrid(data); }, "Json");
                alert(data);

            }, "Json");
        }
    }
    //Delete Record End

    //Edit Record Begin
    function Edit(id) {
        location.href = "@Url.Content("~/ProductLevel3View/Edit/")" + id;
    }

    function Detail(id) {
        location.href = "@Url.Content("~/ProductLevel3/FullProductDetails/")" + id;

    }
    //Edit Record End

    //Fill Grid View Table Begin

    function showFullDescription(currentTag) {
        $(currentTag).parent().find(".FullDes").show();
    }
    function hideFullDescription(currentTag) {
        $(currentTag).parent().find(".FullDes").hide();
    }


     //Set Parent Category//
    function SetParentCategory(data)
    {
        if (data == "Login") {
            location.href = "@Url.Content("~/Logout/Logout")";
        }
        else if (data == "snotallowed") {
            location.href = "@Url.Content("~/snotallowed/snotallowed")";
        }
        else {
            option = "";
            var procat = $("#ddlDistributor");
            procat.empty();
            procat.append("<option value=0>Select</option>");
            $.each(data, function (key, value) {
                option += "<option value=" + value.id + ">" + value.Name + "</option>";

            });
            procat.append(option);
        }
    }

    function Getgriddata(e) {
        debugger;
        var id = e;
        if (id == "0") {
            // $("#Address1").val("");
        }
        else {
            $.post("@Url.Content("~/ProductLevel3View/GetContactDetail")", { id: id }, function (data) { SetGrid(data); }, "Json");
        }
    }



    function SetGrid(data) {
        if (data == "Login") {
            location.href = "@Url.Content("~/Logout/Logout")";
        }
        else if (data == "snotallowed") {
            location.href = "@Url.Content("~/snotallowed/snotallowed")";
        }
        else {
            var body = "";
            $("#Grid tbody").empty();
            $.each(data.result, function (key, value) {

                //var Description = value.Descriptions.toString();
                //if (Description == null || Description == "") {
                //    var shorDescriptions = Description;
                //}
                //else {
                //    var shorDescriptions = Description.substring(0, 10);
                //}

                body += "<tr><td> PLT" + value.id + "</td>" +
                     "<td>" + value.Parentcat + "</td>" +
                "<td>" + value.PCat + "</td>" +

            "<td>" + value.ProCatTwo + "</td>" +
              "<td>" + value.proCatOne + "</td>" +
            "<td>" + value.Name + "</td>" +
            "<td>" + value.ProductCode + "</td>" +
            //"<td><div style='Position:absolute;cursor:pointer'> <span class='Des' onmouseout='hideFullDescription(this);' onmouseover='showFullDescription(this);'>" + shorDescriptions + "</span><div style='position:relative;' class='FullDes'>" + Description + "</div></div></td>" +
             "<td>" + value.Rating + "</td>" +
             "<td>" + value.StartDate + "</td>" +
             "<td>" + value.EndDate + "</td>" +
             "<td>" + value.status + "</td>" +

            "<td style='text-align:right;'>   <a style='cursor:pointer' onclick=Edit(" + value.id + ");><i class='fas fa-pencil-alt' style='font-size:13px; color: #ff6c6c; margin-left: 10px;'></i></a></td></tr>";

            });
            $("#Grid tbody").append(body);
            //<a style='cursor:pointer' onclick=Detail(" + value.id + ");><i class='far fa-eye' style='font-size:13px; color: #737373; margin-right: 10px;'></i></a>
            //<a style='cursor:pointer' onclick=Edit(" + value.id + ");><i class='fas fa-pencil-alt' style='font-size: 13px; color: #737373;'></i></a>
            //$("#Grid tbody tr").draggable({
            //    appendTo: "body",
            //    helper: "clone"
            //});

            //$("#Grid tbody").droppable({
            //    activeClass: "ui-state-default",
            //    hoverClass: "ui-state-hover",
            //    accept: ":not(.ui-sortable-helper)",
            //    drop: function (event, ui) {
            //        $('.placeholder').remove();
            //        row = ui.draggable;
            //        $(this).append(row);
            //    }
            //});
            // SetPages(data.TotalRecord);

            paging();
        }

    }

    //Fill Grid View Table End







    // SetProductCategory begin
    //    function SetProdcutCategory(data, id) {
    //        if (data == "Login") {
    //            location.href = "@Url.Content("~/Logout/Logout")";
    //        }
    //        else if (data == "snotallowed") {
    //            location.href = "@Url.Content("~/snotallowed/snotallowed")";
    //        }
    //        else {
    //            option = "";
    //            var procat = $("#" + id);
    //            procat.empty();
    //            procat.append("<option value=0>Select</option>");
    //            $.each(data, function (key, value) {
    //                option += "<option value=" + value.id + ">" + value.Name + "</option>";

    //            });
    //            procat.append(option);
    //        }

    //    }
    function SetProdcutCategoryPC(data, id) {
        if (data == "Login") {
            location.href = "@Url.Content("~/Logout/Logout")";
        }
        else if (data == "snotallowed") {
            location.href = "@Url.Content("~/snotallowed/snotallowed")";
        }
        else {
            option = "";
            var procat = $("#" + id);
            procat.empty();
            procat.append("<option value=0>Select</option>");
            $.each(data, function (key, value) {
                option += "<option value=" + value.id + ">" + value.Name + "</option>";

            });
            procat.append(option);
        }

    }
    // SetProduct Category end



    // SetProductCategory begin
    function SetProdcutCategoryLoad(data, id) {
        if (data == "Login") {
            location.href = "@Url.Content("~/Logout/Logout")";
        }
        else if (data == "snotallowed") {
            location.href = "@Url.Content("~/snotallowed/snotallowed")";
        }
        else {
            option = "";
            var procat = $("#" + id);
            procat.empty();
            procat.append("<option value=0>Select</option>");
            $.each(data, function (key, value) {
                option += "<option value=" + value.id + ">" + value.Name + "</option>";

            });
            procat.append(option);
            if ('@ViewBag.ProductCat' != "") {

                $("#ProductCategory").val('@ViewBag.ProductCat');
            }
            if ('@ViewBag.ProductCat1' != "") {
                $("#pclvlOne").val('@ViewBag.ProductCat1');
            }
            if ('@ViewBag.ProductCat2' != "") {
                $("#pclvlTwo").val('@ViewBag.ProductCat2');
            }
            if ('@ViewBag.ProductCat3' != "") {
                $("#pclvlthree").val('@ViewBag.ProductCat3');
            }
        }
    }

    //Set Parent Category//
    function SetParentCategory(data) {
        if (data == "Login") {
            location.href = "@Url.Content("~/Logout/Logout")";
        }
        else if (data == "snotallowed") {
            location.href = "@Url.Content("~/snotallowed/snotallowed")";
        }
        else {
            option = "";
            var procat = $("#ParentCategory");
            procat.empty();
            procat.append("<option value=0>Select</option>");
            $.each(data, function (key, value) {
                option += "<option value=" + value.id + ">" + value.Name + "</option>";

            });
            procat.append(option);
        }
    }


    // SetProduct Category end


    @*function SetProdcutlevelOne() {
        var procat = $("#ProductCategory :selected").val();
        var procatLvlOne = $("#pclvlOne");
        $.post("@Url.Content("~/ProductLevelTwo_New/GetProductLevelOneCategory")", {}, function (data) { SetProdcutCategoryPC(data, 'pclvlOne'); }, "Json");
    }*@

    function SetProdcutlevelTwo() {
        var procat = $("#ProductCategory :selected").val();
        var procat2 = $("#pclvlOne :selected").val();



        $.post("@Url.Content("~/ProductLevel3/GetProductLevelTwoCategory")", { procatid: procat }, function (data) { SetProdcutCategoryPC(data, 'pclvlTwo'); }, "Json");
    }

    function GetProductLvl3() {
        var procat = $("#ProductCategory :selected").val();
        var procat2 = $("#pclvlOne :selected").val();

        var procat3 = $("#pclvlTwo :selected").val();
        $.post("@Url.Content("~/ProductLevelThree/GetProductLevel3")", { productid: procat, ProductlvlOneid: procat2, ProductLvlTwoId: procat3 }, function (data) { SetProdcutCategoryPC(data, 'pclvlthree'); }, "Json");
    }

    //function SetPages(paging) {
    //    var pages = "";
    //    $("#Paging").empty();
    //    $("#Paging").empty();

    //    for (var i = 1; i <= parseInt(paging) ; i++) {

    //        pages += "<a style='cursor:pointer' onclick=GetPagesValues(" + i + ");> " + i + "  </a>";


    //    }
    //    $("#Paging").append("<u> Pages:-</u>" + pages);
    //}


    @*function GetPagesValues(id) {
        $.post("@Url.Content("~/ProductLevel3/GetContactDetail")", { page: id }, function (data) { SetGrid(data); }, "Json");
    }*@
</script>

@* Permisson For Script *@
<script type="text/javascript">
    function Allst() {
        if ($("#All").is(":checked")) {
            $("#region").attr("disabled", true);
            $("#destributor").attr("disabled", true);
            $("#Dealer").attr("disabled", true);
            $("#userupload_file").attr("disabled", true);
            $("#RegionList_chosen").hide();
            $("#DestributorList_chosen").hide();
            $("#DealerList_chosen").hide();
            $("#checkDistri").hide();
            $("#checkDeal").hide();
        }
        else {
            $("#region").attr("disabled", false);
            $("#destributor").attr("disabled", false);
            $("#Dealer").attr("disabled", false);
            $("#userupload_file").attr("disabled", false);
            $("#RegionList_chosen").show();
            $("#DestributorList_chosen").show();
            $("#DealerList_chosen").show();
            $("#checkDistri").show();
            $("#checkDeal").show();
        }

    }

    var i = 0;

    var arr = [];

    $(function () {
        // debugger;
        var option = '';

        $.post("@Url.Content("~/ProductLevel3/Column_Name")", null, function (data) { SetColumn(data); }, "Json");

        function SetColumn(data) {

            // debugger;

            var d = JSON.stringify(data);

            var markup = "<tr><td>Redirect Option<span class='required'>*</span></td><td><select name='redirectpage' class='form-control' id='rd" + i + "'><option></option></select></td><td>Input Value<span class='required'>*</span></td><td><input id='text1" + i + "' type='text' class='form-control' name='inputval' value='' /></td><td><input type='button' id='addRow' class='form-control' value='Add' /></td></tr>";

            $('#dynaTableContent tbody').append(markup);

            option = '<option value=0 selected>Select</option>';

            $.each(data, function (key, value) {

                option += "<option value=" + value.ORDINAL_POSITION + ">" + value.COLUMN_NAME + "</option>";

            });

            // alert(option);

            $("#rd" + i + "").append(option);
        }
    });


    $(function () {
        $("#btnsubmit").click(function () {
            debugger;
            if (($("#rd" + i + "").val() == 0 || $("#rd" + i + " option:selected").val() == 0) && $("#text1" + i + "").val() == '') {
                $("#lblmessagesubmit").text("Please fill all the details");
                return false;
            }
        });
    });





    $("body").on("click", "#addRow", function (e) {

        debugger;

        if (($("#rd" + i + "").val() != 0 || $("#rd" + i + " option:selected").val() != 0) && $("#text1" + i + "").val() != '') {

            arr.push(temp = $("#rd" + i + " option:selected").val());

            //alert(arr);

            var temp1 = $("#text1" + i + "").val();

            var option = '';

            $.post("@Url.Content("~/ProductLevel3/Column_Name")", null, function (data) { SetColumn(data); }, "Json");

            function SetColumn(data) {

                // debugger;

                for (j = 0; j < data.length; j++) {
                    for (k = 0; k < arr.length; k++) {
                        if (data[j].ORDINAL_POSITION == parseInt(arr[k])) {
                            // data.splice(j, 1);
                            data.splice(j, 0);
                        }

                    }


                }

                i += 1;

                debugger;

                //var d = JSON.stringify(data);

                var markup = "<tr><td>Redirect Option<span class='required'>*</span></td><td><select name='redirectpage' class='form-control' id='rd" + i + "'><option></option></select></td><td>Input Value<span class='required'>*</span></td><td><input id='text1' type='text' class='form-control' name='inputval' value='' /></td><td><input type='button' id='addRow' class='form-control' value='Add' /></td><td><input type='button' id='delRow' class='form-control' value='Remove' /></td></tr>";

                $('#dynaTableContent tbody').append(markup);

                option = '<option value=0 selected>Select</option>';

                $.each(data, function (key, value) {


                    option += "<option value=" + value.ORDINAL_POSITION + ">" + value.COLUMN_NAME + "</option>";



                });

                // alert(option);

                $("#rd" + i + "").append(option);

            }
        }

        else {
            alert("Please fill the data");
        }

    });


    $("body").on("click", "#delRow", function (e) {

        $(this).parent().parent().remove();

    });






    function GetRegions() {
        if ($("#region").is(":checked")) {

            $.post("@Url.Content("~/Destributor/GetRegions")", null, function (data) { SetProdcutCategory(data, 'RegionList'); },
                 "Json");
            $("#RegionList_chosen").show();

        }
        else {
            $("#RegionList_chosen").hide();
        }

    }
    function GetDestributor() {
        if ($("#destributor").is(":checked")) {
            if ($("#region").is(":checked")) {
                SetDestributor();

            }
            else {
                $.post("@Url.Content("~/Dealers/GetAllDestributors")", null, function (data) { SetProdcutCategory(data, 'DestributorList'); }, "Json");
            }
            $("#DestributorList_chosen").show();
        }
        else {

            $("#DestributorList_chosen").hide();
        }
    }
    function GetDealer() {
        if ($("#Dealer").is(":checked")) {
            if ($("#destributor").is(":checked")) {
                SetDealer();
            }
            else {

                $.post("@Url.Content("~/Dealers/GetAllDealer")", null, function (data) { SetProdcutCategory(data, 'DealerList'); }, "Json");
            }
            $("#DealerList_chosen").show();
        }
        else {

            $("#DealerList_chosen").hide();
        }
    }
    function SetProdcutCategory(data, id) {
        if (data == "Login") {
            location.href = "@Url.Content("~/Logout/Logout")";
        }
        else if (data == "snotallowed") {
            location.href = "@Url.Content("~/snotallowed/snotallowed")";
        }
        else {
            option = "";
            var procat = $("#" + id);
            procat.empty();
            procat.append("<option value=0 disabled='disabled'>Select</option>");
            $.each(data, function (key, value) {
                option += "<option value=" + value.id + ">" + value.Name + "</option>";

            });
            procat.append(option);
            procat.chosen({ width: "100px" });
            procat.trigger("chosen:updated");
        }

    }

    function SetRegion() {
        $("#RgList").val($("#RegionList").val());
        var regionlist = $("#RgList").val();

        $.post("@Url.Content("~/Dealers/GetDestributorsByMultiPleids")", { RegionId: regionlist }, function (data) { SetProdcutCategory(data, 'DestributorList'); }, "Json");
    }
    function SetDestributor() {
        $("#disList").val($("#DestributorList").val());

        var regionlist = $("#disList").val();

        $.post("@Url.Content("~/Dealers/GetAllDealerByMultiPleIds")", { RegionId: regionlist }, function (data) { SetProdcutCategory(data, 'DealerList'); }, "Json");
    }
    function SetDealer() {
        $("#Dealist").val($("#DealerList").val());
    }

    function a() {
        $("#forms").submit();
    }

    $(function () {

        $("#txtsearch").on("keyup", function (event) {

            if (event.which == 8) {

                if ($("#txtsearch").val() == null || $("#txtsearch").val() == 0) {
                    $('#Paging').empty();
                    $.post("@Url.Content("~/ProductLevel3View/GetContactDetail")", null, function (data) { SetGrid(data); }, "Json");
                }

            }

            else {
                if ($("#txtsearch").val() != null || $("#txtsearch").val() > 0) {
                    var value = this.value.toLowerCase().trim();

                    $('#Grid tr').each(function (index) {

                        if (!index) return;

                        $(this).find("td").each(function () {

                            var id = $(this).text().toLowerCase().trim();
                            var not_found = (id.indexOf(value) == -1);
                            $(this).closest('tr').toggle(!not_found);
                            return not_found;
                        });

                    });

                }

            }
        });
    });
    //function test()
    //{
    //    var value = this.value.toLowerCase().trim();

    //    $('#Grid tr').each(function (index) {

    //        if (!index) return;

    //        $(this).find("td").each(function () {

    //            var id = $(this).text().toLowerCase().trim();
    //            var not_found = (id.indexOf(value) == -1);
    //            $(this).closest('tr').toggle(!not_found);
    //            return not_found;
    //        });

    //    });
    //}

    function paging() {
        $('#Paging').empty();

        $(document).ready(function () {

            var totalRows = $('#Grid').find('tbody tr:has(td)').length;

            var recordPerPage = 15;
            var numberOfPages = Math.ceil(totalRows / recordPerPage);

            for (var i = 0; i < numberOfPages; i++) {
                var pageNum = i + 1;
                $('#Paging').append('<a href="#" rel="' + i + '">' + pageNum + '</a> ');
            }

            $('#Grid tbody tr').hide();
            $('#Grid tbody tr').slice(0, recordPerPage).show();
            $('#Paging a:first').addClass('active');
            $('#Paging a').bind('click', function () {

                var currentPage = $(this).attr('rel');
                var startitem = currentPage * recordPerPage;
                var enditem = startitem + recordPerPage;

                //$('#Grid tbody tr').hide().slice(startitem, enditem).css('display', 'table-row').animate({ opacity: 1 }, 300);
                $('#Grid tbody tr').hide().slice(startitem, enditem).show();
            });

        });
    }
</script>

<div id="page-wrapper" style="background: #f2f4f8; min-height:800px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="pageHeading"><span>Catalog - </span>  Product Level Three</h1>
        </div>
    </div>

   

        <div class="row">
            <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="2500">
                <div class="addgift" style="padding-bottom: 10px;">
                    <div class="row" id="GridView">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Distributor Name <span class="required">*</span></label>
                                <select name="ddlDistributor" id="ddlDistributor" onchange="Getgriddata(this.value);" class="form-control">
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
                      
            <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="2500">
                <div class="addgift" style="padding-bottom: 10px;">
                    <div class="" style="overflow:hidden; overflow-x:scroll;">
                        <div style="float:right;margin-right:12px; margin-top: -12px">

                            <table class="headingHd" style="width:100%;">
                                <tr>
                                    <th style="font-size: 20px;font-weight: normal;background: none; color: #595959; width: 79%;"> Product Data List</th>
                                    <th style="font-weight:normal;position: relative; background: none;  padding: 2px 0 0 0px;  font-size: 13px;">
                                        @Html.TextBox("Search", null, new { Id = "txtsearch", @placeholder = "Search", @style = "padding: 7px 15px; border: 1px solid #eee; border-radius: 3px; color:#595959;" })<img src="/images/searchIcon.png" alt="" title="" style="position: absolute;right:12px; top:15px; opacity: 0.2;">
                                      
                                    </th>
                                </tr>
                            </table>

                        </div>
                        <div id="list" class="tabelGridRow">
                            <table id="Grid" class="tabelGridRow2" style="width:100%; display:inline-table;">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Parent&nbsp;Category</th>
                                        <th>Product&nbsp;Category</th>
                                        <th>Product&nbsp;Level&nbsp;Two</th>
                                        <th>Attribute</th>
                                        <th>Product&nbsp;Level&nbsp;Three</th>
                                        <th>Product&nbsp;Code</th>
                                        <th>Rating</th>
                                        <th>Start&nbsp;Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th>End&nbsp;Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th>Status</th>
                                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div>
                                Pages :<span id="Paging"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    <div class="space30"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="footerRow">
                © Copyright 2019 LuminousMpartnerIB | All Rights Reserved
            </div>
        </div>
    </div>

</div>
