@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<link href="@Url.Content("~/assets/css/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
@*<script src="@Url.Content("~/assets/js/jquery-1.10.2.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/assets/js/jquery-ui.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(function () {
        $(".date").datepicker(
     { dateFormat: "dd-mm-yy" }
        );
        ValidationMessage();
    });
</script>
<style type="text/css">
    .required {
        color: Red;
    }

    table {
        border: 0;
        border-spacing: 0;
        font-size: 0.857em;
        margin: 10px 0;
        width: 100%;
    }

        table table {
            font-size: 1em;
        }

    #footer-wrapper table {
        font-size: 1em;
    }

    table tr th {
        background: #757575;
        background: rgba(0, 0, 0, 0.51);
        border-bottom-style: none;
    }

        table tr th,
        table tr th a,
        table tr th a:hover {
            color: #FFF;
            font-weight: bold;
        }

    table tbody tr th {
        vertical-align: top;
    }

    tr td,
    tr th {
        padding: 4px 9px;
        border: 1px solid #fff;
        text-align: left; /* LTR */
    }

    #footer-wrapper tr td,
    #footer-wrapper tr th {
        border-color: #555;
        border-color: rgba(255, 255, 255, 0.18);
    }

    tr.odd {
        background: #e4e4e4;
        background: rgba(0, 0, 0, 0.105);
    }

    tr,
    tr.even {
        background: #efefef;
        background: rgba(0, 0, 0, 0.063);
    }

    table ul.links {
        margin: 0;
        padding: 0;
        font-size: 1em;
    }

        table ul.links li {
            padding: 0 1em 0 0;
        }

    .DragMe:Hover {
        cursor: move;
    }
</style>


<div id="page-wrapper" style="background: #f2f4f8;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="pageHeading"><span>User Report - </span>Most Search Item Report</h1>
        </div>
    </div>
    @using (@Html.BeginForm("Downloaddata", "Report_MostSearchItem", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="2500">
                <div class="addgift" style="padding-bottom: 10px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label> From Date<span style="color: red;">*</span></label>
                                <input id="stdate" type="text" class="date form-control" placeholder="dd-mm-yyyy" autocomplete="off" name="StartDate" />
                                <span id="sdate" class="required"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>To Date <span style="color: red;">*</span></label>
                                <input id="etdate" type="text" class="date form-control" placeholder="dd-mm-yyyy" autocomplete="off" name="EndDate" />
                                <span id="edate" class="required"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" class="save-but-m submitBtn" value="Download" />
                            </div>
                        </div>

                        @if (TempData["Emptyerror"] != null)
                        {
                            <span style="font:bold;color:red">
                                @TempData["Emptyerror"]
                            </span>
                        }

                        @if (TempData["Nodataexist"] != null)
                        {
                            <span style="font:bold;color:red">
                                @TempData["Nodataexist"]
                            </span>
                        }
                        @if (TempData["Exception"] != null)
                        {
                            <span style="font:bold;color:red">
                                @TempData["Exception"]
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>

            }

        </div>
